@media(max-width:1200px) {

    .card {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* .main-menu{ 
    justify-content: space-evenly;
} */
}

@media(max-width:950px) {
    .header__title {
        font-size: 55px;
    }

    .header__description {
        font-size: 16px;
    }

    .header__price {
        font-size: 45px;
        padding: 15px 70px;
    }

    .main {
        padding-top: 0;
    }

    .main-menu {
        padding-bottom: 25px;
    }

    .main-list {
        justify-content: center;
    }

    .main-list__link {
        margin: 0 25px;
    }

    .recepi {
        padding: 25px 0;
    }

    .recepi__title {
        margin-bottom: 25px;
    }

    .recepi__text {
        font-size: 16px;
        line-height: 20px;
    }

    .branch__title {
        margin-bottom: 0;
        padding: 25px 0;
    }

    .footer {
        padding: 25px 0;
    }

    .footer__list {
        margin-top: 25px;
    }

    .footer__text {
        margin-top: 25px;
    }
}

@media(max-width:780px) {
    .card:nth-last-of-type(n+1) {
        margin-bottom: 15px;
    }

    .card {
        width: 100%;
    }

    .recepi__title {
        font-size: 30px;
    }

    .recepi__text {
        font-size: 14px;
        text-align: justify;
    }

    .recepi__text:nth-of-type(1) {
        margin-bottom: 15px;
    }

    .card__content_price {
        padding: 15px 30px;
    }

    .branch__map {
        height: 350px;
    }

    .header__description {
        margin-bottom: 40px;
    }

    .header__price {
        font-size: 35px;
        padding: 10px 50px;
    }

    .header__title {
        font-size: 45px;
    }

    .header__logo {
        font-size: 18px;
        padding: 5px 18px;
    }

    .footer__list_link {
        font-size: 15px;
        margin: 0 15px;
    }

    .header__list-link {
        padding: 25px 20px;
    }


}

@media(max-width:690px) {
    .nav_container {
        flex-direction: column;
    }

    .main-list__link {
        margin: 0 20px;
    }

    .main-list {
        flex-wrap: wrap;
    }

    .nav {
        padding-top: 10px;
    }

    .footer__tel {
        margin-right: 10px;
    }

    .footer__list {
        margin-top: 10px;
    }

    .footer__text {
        margin-top: 10px;
    }

    .header__logo {
        margin-left: 15px;
    }

    .recepi__text:nth-of-type(1),
    .recepi__text:nth-of-type(2) {
        margin-left: 8px;
        margin-right: 8px;
    }
}

@media(max-width:472px) {
    .header__list-link {
        font-size: 18px;
    }

    .header__title {
        font-size: 35px;
    }

    .header-content {
        flex-grow: unset;
    }

    .header__description {
        text-align: justify;
    }

    .header__price {
        font-size: 30px;
        padding: 5px 35px;
    }

    .mh-100 {
        min-height: 70vh;
    }

    .main-list {
        margin-top: -80px;
        margin-bottom: 45px;
    }

    .recepi__title {
        font-size: 18px;
    }

    .branch__title {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .branch__map {
        height: 250px;
    }

    .footer__list_link {
        font-size: 15px;
        margin: 0px 6px;
    }

    .footer__text {
        font-size: 14px;
    }

    .header__logo {
        font-size: 15px;
        padding: 5px 11px;
    }

    .foter__tel {
        font-size: 20px;
    }

    .card__title {
        font-size: 18px;
    }

    .card__description {
        font-size: 15px;
        text-align: center;
    }

    .card__content {
        max-width: 280;
        height: 280;
    }

    .card__content_price {
        padding: 7px 21px;
    }

    .recepi__title {
        margin-top: -15px;
        margin-bottom: 15px;
    }

    .main-menu {
        padding-bottom: 0px;
    }

    .card__title {
        margin-top: 17px;
        margin-bottom: 5px;
    }

    .header__description {
        margin-bottom: 15px;
    }

    .header__description {
        font-size: 18px;
    }
}

@media(max-width: 390px) {
    .header__title {
        font-size: 20px;
    }

    .header__title {
        margin-bottom: -25px;
        margin-top: 10px;
    }

    .header__underTitle {
        font-size: 25px;
        margin-bottom: 10px;
        margin-top: 17px;
    }

    .container {
        margin: -20px auto;
    }

    .header__list-link {
        font-size: 12px;
    }

    .header {
        min-height: 56vh;
    }

    .header__description {
        font-size: 15px;
    }

    .header__price {
        font-size: 20px;
        padding: 0px 25px;
    }

    .header__logo {
        margin-top: 15px;
    }

    .header__list-link {
        padding: 25px 15px;
    }

    .header__list_span {
        width: 15px;
        height: 15px;
    }

    .main-list__link {
        margin: 0px 10px;
    }

    .main-list {
        margin-top: -90px;
        margin-bottom: 20px;
    }

    .card__content {
        max-width: 260px;
        height: 260px;
    }

    .card__description {
        max-width: 260px;
        font-size: 12px;
        text-align: justify;
    }

    .card__description {
        margin-bottom: 15px;
    }

    .recepi__text {
        font-size: 12px;
        line-height: 20px;
    }

    .header__description {
        margin-bottom: 30px;
    }

    .header__price {
        font-size: 20px;
        padding: 0px 25px;
        margin-bottom: 25px;
        margin-top: -25px;
    }

    .recepi__title {
        margin-top: 0px;
        margin-bottom: -1px;
    }

    .header__logo {
        margin-top: 0px;
        margin-left: -10px;
        font-size: 12px;
    }

    .footer__tel {
        font-size: 22px;
        margin-right: -10px;
    }

    .footer__list_link {
        font-size: 10px;
        margin: 0px 9px;
    }

    .footer__text {
        font-size: 10px;
        margin-top: 5px;
    }

    .recepi__title::after {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .header__logo {
        margin-top: 15px;
        margin-left: -10px;
        font-size: 12px;
    }
}

@media(max-width: 320px) {
    .footer__list {
        margin-top: 0px;
    }

    .footer__list_link {
        font-size: 8px;
        margin: 0px 7px;
    }

    .footer__text {
        font-size: 8px;
        margin-top: 0px;
    }

    .header__logo {
        padding: 0px 0px;
        margin-top: 0px;
    }

    .footer__tel {
        font-size: 17px;
        margin-right: -10px;
    }

    .recepi__text {
        font-size: 10px;
        line-height: 15px;
    }

    .card__description {
        font-size: 10px;
        line-height: 15px;
    }

    .card__content_price {
        padding: 6px 18px;
        font-size: 16px;
    }

    .main-list__link {
        font-size: 11px;
        margin: 0px 6px;
    }

    .header__price {
        font-size: 18px;
        line-height: 30px;
        padding: 4px 31px;
        margin-bottom: 24px;
        margin-top: -25px;
    }

    .header__description {
        margin-bottom: 25px;
        line-height: 0x;
        font-size: 10px;
    }

    .header__underTitle {
        font-size: 20px;
        margin-bottom: 0px;
        margin-top: 12px;
    }

    .header__list-link {
        padding: 20px 9px;
    }

    .header__list_span {
        width: 10px;
        height: 10px;
        font-size: 7px;
    }

    .head_logo {
        margin-top: 15px;
        font-size: 10px;
    }

    .header__price {
        font-size: 15px;
        line-height: 30px;
        padding: 1px 26px;
        margin-bottom: 24px;
        margin-top: -15px;
    }
    .img{
    width: 260px;
    height: 260px;   
    }


}